<div class="panel-primary ng-hide" ng-cloak ng-show="forecastTxt.forecast">
	<div class="panel-heading">Forecast</div>
	<div class="panel-body" ng-repeat="forecastDay in forecastTxt.forecast">
		<div class="page-header">
			<h3>{{forecastDay.title}}</h3>
		</div>
		<div class="panel-body">
			<div class="col-xs-2"><img ng-src="{{forecastDay.icon_url}}" /></div>
			<div class="col-xs-9">{{forecastDay.fcttext}}</div>
		</div>
	</div>
	<div class="panel-footer">
		Forecast data provided by <a href="http://www.wunderground.com/?apiref=5a1602d30ec01643" target="RFWPopup">Weather Undergound</a>
	</div>
</div>