<div class="panel-primary">
	<div class="panel-heading">Current Conditions</div>
	<div class="panel-body row" ng-cloak ng-show="currentConditions.weather.conditions">
		<div class="col-sm-4">
			<div class="panel-info">
				<div class="panel-heading">Temperature</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-xs-6">Current</div>
						<div class="col-xs-6">
							{{currentConditions.weather.conditions.temperature.degrees}}&deg; F
							<span ng-bind-html="currentConditions.weather.conditions.temperature.rateArrow"></span>
							<br />
							Feels like {{currentConditions.weather.conditions.temperature.feelsLike | number:1}}&deg; F
						</div>
					</div>
					<div class="row">
						<div class="col-xs-6">Humidity</div>
						<div class="col-xs-6">{{currentConditions.weather.conditions.humidity.percentage}}%</div>
					</div>
					<div class="row">
						<div class="col-xs-6">Comfort Level</div>
						<div class="col-xs-6">{{currentConditions.weather.stats.forecast.comformatLevel}}</div>
					</div>
					<div class="row">
						<div class="col-xs-6">High</div>
						<div class="col-xs-6">
							{{currentConditions.weather.stats.temperature.high.value}}&deg; F
							at {{currentConditions.weather.stats.temperature.high.time|date:'h:mm a'}}
						</div>
					</div>
					<div class="row">
						<div class="col-xs-6">Low</div>
						<div class="col-xs-6">
							{{currentConditions.weather.stats.temperature.low.value}}&deg; F
							at {{currentConditions.weather.stats.temperature.low.time|date:'h:mm a'}}
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="panel-info">
				<div class="panel-heading">Winds</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-xs-6">Current</div>
						<div class="col-xs-6">{{currentConditions.weather.conditions.wind.speed}} mph</div>
					</div>
					<div class="row">
						<div class="col-xs-6">Direction</div>
						<div class="col-xs-6">
							{{currentConditions.weather.conditions.wind.directionDescription}}
							({{currentConditions.weather.conditions.wind.direction}}&deg;)
						</div>
					</div>
					<div class="row">
						<div class="col-xs-6">High</div>
						<div class="col-xs-6">
							{{currentConditions.weather.stats.wind.speedHigh.value}} mph
							at {{currentConditions.weather.stats.wind.speedHigh.time|date:'h:mm a'}}
						</div>
					</div>
					<div class="row">
						<div class="col-xs-6">Run</div>
						<div class="col-xs-6">{{currentConditions.weather.stats.wind.windRun}} mi</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="panel-info">
				<div class="panel-heading">Rain</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-xs-6">Daily</div>
						<div class="col-xs-6">{{currentConditions.weather.stats.rain.daily}} in</div>
					</div>
					<div class="row">
						<div class="col-xs-6">Rate</div>
						<div class="col-xs-6">{{currentConditions.weather.stats.rain.rate}} in/hour</div>
					</div>
					<div class="row">
						<div class="col-xs-6">Monthly Total</div>
						<div class="col-xs-6">{{currentConditions.weather.stats.rain.monthly}} in</div>
					</div>
					<div class="row">
						<div class="col-xs-6">Yearly Total</div>
						<div class="col-xs-6">{{currentConditions.weather.conditions.rain.yearlyTotal}} in</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="panel-info">
				<div class="panel-heading">Barometer</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-xs-6">Current</div>
						<div class="col-xs-6">
							{{currentConditions.weather.conditions.barometer.raw | number:2}} in
							<span ng-bind-html="currentConditions.weather.conditions.barometer.rateArrow"></span>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-6">Rate</div>
						<div class="col-xs-6">{{currentConditions.weather.conditions.barometer.rawRate}} in/hour</div>
					</div>
					<div class="row">
						<div class="col-xs-6">High</div>
						<div class="col-xs-6">
							{{currentConditions.weather.stats.barometer.rawHigh.value | number:2}} in
							at {{currentConditions.weather.stats.barometer.rawHigh.time|date:'h:mm a'}}
						</div>
					</div>
					<div class="row">
						<div class="col-xs-6">Low</div>
						<div class="col-xs-6">
							{{currentConditions.weather.stats.barometer.rawLow.value | number:2}} in
							at {{currentConditions.weather.stats.barometer.rawLow.time|date:'h:mm a'}}
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="panel-info">
				<div class="panel-heading">Solar</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-xs-6">UV Index</div>
						<div class="col-xs-6">{{currentConditions.weather.conditions.solar.uvIndex}}</div>
					</div>
					<div class="row">
						<div class="col-xs-6">UV Rate</div>
						<div class="col-xs-6">{{currentConditions.weather.conditions.solar.uvIndexRate}}</div>
					</div>
					<div class="row">
						<div class="col-xs-6">High</div>
						<div class="col-xs-6">
							{{currentConditions.weather.stats.solar.uvIndexHigh.value}}
							at {{currentConditions.weather.stats.solar.uvIndexHigh.time|date:'h:mm a'}}
						</div>
					</div>
					<div class="row">&nbsp;</div>
					<div class="row">
						<div class="col-xs-6">Radiation</div>
						<div class="col-xs-6">{{currentConditions.weather.conditions.solar.radiation}}</div>
					</div>
					<div class="row">
						<div class="col-xs-6">Radiation Rate</div>
						<div class="col-xs-6">{{currentConditions.weather.conditions.solar.radiationRate}}</div>
					</div>
					<div class="row">
						<div class="col-xs-6">High</div>
						<div class="col-xs-6">
							{{currentConditions.weather.stats.solar.radiationHigh.value}}
							at {{currentConditions.weather.stats.solar.radiationHigh.time|date:'h:mm a'}}
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="panel-info">
				<div class="panel-heading">Lightning microDLN</div>
				<div class="panel-body text-center">
					<div class="row">
						<mldn-maps></mldn-maps>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="panel-info">
				<div class="panel-heading">Radar &amp; Lightning</div>
				<div class="panel-body text-center">
					<div class="row">
						<a href="#/Maps/#radar"><img src="weather/wasp2.png.ashx?width=250" alt="Radar & Lightning" /></a>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="panel-info">
				<div class="panel-heading">Lightning Boltech</div>
				<div class="panel-body text-center">
					<div class="row">
						<a href="#/Maps/#lightning"><img src="weather/nexstorm.jpg.ashx?width=250" alt="Lightning" /></a>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-12">
			<div class="panel-info">
				<div class="panel-heading">12 Hour Forecast</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-sm-12">{{currentConditions.weather.stats.forecast.value}}</div>
					</div>
				</div>
			</div>
		</div>
		<forecast-simple></forecast-simple>
	</div>
	<div class="panel-body row" ng-cloak ng-show="!currentConditions.weather.conditions">
		<img class="center-block loading-img" src="Images/circle-loading-animation.gif" alt="Loading..." />
	</div>
	<div class="panel-footer ng-hide" ng-show="currentConditions.weather.conditions.timeOfUpdate">
		Last updated: {{currentConditions.weather.conditions.timeOfUpdate|date:'medium'}} Eastern <br />
	</div>
</div>
