<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
		<section name="resizer" type="ImageResizer.ResizerSection,ImageResizer" requirePermission="false" />
  </configSections>
	<resizer>
		<pipeline fakeExtensions=".ashx" defaultCommands="autorotate.default=true" />
	</resizer>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
		<add key="WeatherFlash" value="Y67HM3" />

		<add key="ClientId" value="" />
		<add key="ClientSecret" value="" />
		<add key="SecretUri" value="" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
    <httpModules>
			<add name="ImageResizingModule" type="ImageResizer.InterceptModule" />
			<add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
		</httpModules>
		<customErrors mode="On">
			<error statusCode="404" redirect="~/" />
		</customErrors>
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
			<add name="ImageResizingModule" type="ImageResizer.InterceptModule" />
			<remove name="ApplicationInsightsWebTracking" />
			<add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
		<rewrite>
			<rules>
				<rule name="rule 1f" stopProcessing="true">
					<match url="^mldn/mldn_z([0-9]+)\.[png|jpg]" />
					<action type="Rewrite" url="/mldn/index.php?f=map&amp;zoom={R:1}" />
				</rule>
				<rule name="rule 2f" stopProcessing="true">
					<match url="^mldn/mldn\.[png|jpg]" />
					<action type="Rewrite" url="/mldn/index.php?f=map&amp;zoom=0" />
				</rule>
				<rule name="rule 3f" stopProcessing="true">
					<match url="^mldn/mldn_app" />
					<action type="Rewrite" url="/mldn/index.php?f=app" />
				</rule>
				<rule name="rule 4f" stopProcessing="true">
					<match url="^mldn/mapcheck" />
					<action type="Rewrite" url="/mldn/index.php?f=mapcheck" />
				</rule>
				<rule name="rule 5f" stopProcessing="true">
					<match url="^mldn/loader\.[png|jpg]" />
					<action type="Rewrite" url="/mldn/index.php?f=loader" />
				</rule>
				<rule name="rule 6f" stopProcessing="true">
					<match url="^mldn/help" />
					<action type="Rewrite" url="/mldn/index.php?f=help" />
				</rule>
				<rule name="rule 7f" stopProcessing="true">
					<match url="^mldn/mldn_eu([0-9]+)\.[png|jpg]" />
					<action type="Rewrite" url="/mldn/index.php?f=mldnproxy&amp;img=mldn_eu{R:1}" />
				</rule>
				<rule name="rule 8f" stopProcessing="true">
					<match url="^mldn/mldn_animated\.gif" />
					<action type="Rewrite" url="/mldn/index.php?f=viewgif" />
				</rule>
				<rule name="rule 9f">
					<match url="^mldn/timelapse/([0-9-_\.]+)" />
					<action type="Rewrite" url="/mldn/index.php?f=tlapse_read&amp;tfile={R:1}" />
				</rule>
				<rule name="rule 10f" stopProcessing="true">
					<match url="^mldn/timelapse_viewer" />
					<action type="Rewrite" url="/mldn/index.php?f=timelapse_app" />
				</rule>
				<rule name="rule 11f" stopProcessing="true">
					<match url="^mldn/tlapse_data.json" />
					<action type="Rewrite" url="/mldn/index.php?f=tlapse_list" />
				</rule>
				<rule name="rule 12f" stopProcessing="true">
					<match url="^mldn/include.js" />
					<action type="Rewrite" url="/mldn/index.php?f=main_js" />
				</rule>
				<rule name="rule 13f" stopProcessing="true">
					<match url="^mldn/integrate" />
					<action type="Rewrite" url="/mldn/index.php?f=integrate" />
				</rule>
			</rules>
		</rewrite>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AI.Agent.Intercept" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.1.0" newVersion="1.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>
