<div ng-show="currentAlerts.alerts" ng-cloak id="weatherAlerts"> 
	<div class="panel-danger" ng-repeat="alert in currentAlerts.alerts.alerts">
		<div class="panel-heading">
			{{alert.description}}<br />
			Expires: {{alert.expires}}
		</div>
		<div class="panel-body" ng-bind-html="alert.message"></div>
		<div class="panel-footer">
			Issued: {{alert.date}}<br/>
			Alert data provided by <a href="http://www.wunderground.com/?apiref=5a1602d30ec01643" target="RFWPopup">Weather Undergound</a>
		</div>
		<div>&nbsp;</div>
	</div>
</div>