<div>
	<div class="panel-primary">
		<div class="panel-heading">Acknowledge</div>
		<div class="panel-body">
			The PHP code used to map the data from the <a href="http://microsferics.com" target="RFWPopup">microsferics.com</a> project was provided by Andy Jones at <a href="http://www.bordersweather.co.uk" target="RFWPopup">www.bordersweather.co.uk</a>.
</div>
	</div>
	<br /><br />
	<div class="panel-primary">
		<div class="panel-heading">About</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-md-8">
					Data on this site is powered by a Davis Vantage Pro/2 weather station and
					<a href="http://www.wunderground.com/weatherstation/WXDailyHistory.asp?ID=KMINILES3" target="RFWPopup">Weather Underground</a>.
					<br /><br />
					I am currently using Virtual Weather Station software to upload my data to Weather
					Undergound and many other weather sites.If you want more detail about my weather station please read my blog post
					<a href="http://www.kd8fwv.com/category/weather/" target="RFWPopup">http://www.kd8fwv.com/category/weather/</a>
					<br /><br />
					I have converted this site to use AngularJS and a Web API 2.0 backend for the storage and retrieval of data.
					I am using Microsoft Azure Storage Tables for data storage and history.
					<br /><br />
					This is more than a weather site this is my test bed to try out new web technologies.
					I plan on making all this code avaliable at a later date. I need to complete a few more things before I can do that.
					<br /><br />
					Please feel free to contact me at
					<a href="mailto:eric@kd8fwv.com" target="RFWPopup">eric@kd8fwv.com</a>
				</div>
				<div class="col-md-4">
					<a class="pull-right" href="http://www.wunderground.com/weatherstation/WXDailyHistory.asp?ID=KMINILES3" target="RFWPopup">
						<img src="http://banners.wunderground.com/cgi-bin/banner/ban/wxBanner?bannertype=WeatherStationCount&weatherstationcount=KMINILES3"
							 height="160" width="163" border="0" alt="Weather Underground PWS KMINILES3" />
					</a>
				</div>
			</div>
		</div>
		<div class="panel-footer">
			Version 3.0<br />
			Maintainted by <a href="http://www.demiurge.us">Demiurge Software LLC</a> Copyright &copy; 2015
		</div>
	</div>

</div>
