<div class="panel-primary">
	<div class="panel-heading" id="radar">Radar &amp; Lightning</div>
	<div class="panel-body text-center">
		<div class="row">
			<img src="weather/wasp2.png.ashx" alt="Radar & Lightning" />
		</div>
	</div>
	<div class="panel-footer">
		Data provided by <a href="http://www.strikestarus.com/" target="RFWPopup">StrikeStar</a>
	</div>
</div>
<br /><br />
<div class="panel-primary">
	<div class="panel-heading">Lightning Timelapse microDLN</div>
	<div class="panel-body text-center">
		<div class="row">
			<mldn-maps timelapse="true"></mldn-maps>
		</div>
	</div>
	<div class="panel-footer">
		Data provided by <a href="http://microsferics.com/index.php/North_America_real-time" target="RFWPopup">microsferics.com</a><br />
		PHP that drives this map provided by <a href="http://www.bordersweather.co.uk" target="RFWPopup">www.bordersweather.co.uk</a>
	</div>
</div>
<br /></br />
<div class="panel-primary">
	<div class="panel-heading" id="lightning">Lightning</div>
	<div class="panel-body text-center">
		<div class="row">
			<img src="weather/nexstorm.jpg.ashx" alt="Lightning" />
		</div>
	</div>
	<div class="panel-footer">
		This data is provided by my Boltek Lightning detector
	</div>
</div>
<br /><br />
