<div ng-cloak>
	<div class="panel-info">
		<div class="panel-heading">{{tempHistory.title}}</div>
		<div class="panel-body" id="chart">
			<!--<div class="panel-body row" ng-cloak ng-show="!tempHistory.history">
				<img class="center-block loading-img" src="/Images/circle-loading-animation.gif" alt="Loading..."/>
			</div>-->
			<div class="panel-body row ng-hide" ng-cloak ng-show="tempHistory.history">
				<canvas id="chartCanvas" width="400" height="200"></canvas>
			</div>
		</div>
	</div>
</div>
<script>
	var ctx = $("#chartCanvas").get(0).getContext("2d");
	var myLineChart = new Chart(ctx).Line(tempHistory.historyData);
</script>